apiVersion: admissionregistration.k8s.io/v1
kind: MutatingWebhookConfiguration
metadata:
  annotations:
    cert-manager.io/inject-ca-from: default/mutation-webhook-certs
  name: mutation-webhook-config
webhooks:
  - name: mutation-webhook.example.com
    clientConfig:
      service:
        name: mutation-webhook
        namespace: default
        path: "/mutate"
        port: 443
    sideEffects: None
    admissionReviewVersions: [ "v1", "v1beta1" ]
    rules:
      - apiGroups:
          - ""
        apiVersions:
          - v1
        operations:
          - CREATE
        resources:
          - pods